<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <form method="POST" th:action="@{/applocations/add}" th:object="${appLocation}">
        <h1>Create app Location</h1>
        <div th:if="${#fields.hasErrors()}">
          <span class="validationError">
             Please correct the problems below and resubmit.
          </span>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="id" class="col-sm col-form-label">ID:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{id}"/>
            </div>
            <div class="col">
                <span class="validationError"
                      th:if="${#fields.hasErrors('id')}"
                      th:errors="*{id}">Age Error
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="id_app" class="col-sm col-form-label">ID app:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{id_app}"/>
            </div>
            <div class="col">
                <span class="valid_appationError"
                      th:if="${#fields.hasErrors('id_app')}"
                      th:errors="*{id_app}">Age Error
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="city" class="col-sm col-form-label">City:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{city}"/>
            </div>
            <div class="col">
                <span class="validationError"
                      th:if="${#fields.hasErrors('city')}"
                      th:errors="*{city}">city Error
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="street" class="col-sm col-form-label">Street:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{street}"/>
            </div>
            <div class="col">
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">street Error
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="street_number" class="col-sm col-form-label">Street number:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{street_number}"/>
            </div>
            <div class="col">
                <span class="validationError"
                      th:if="${#fields.hasErrors('street_number')}"
                      th:errors="*{street_number}">street_number Error
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="country" class="col-sm col-form-label">Country:</label>
            </div>
            <div class="col">
                <input type="text" th:field="*{country}"/>
            </div>
            <div class="col">
                <span class="validationError"
                      th:if="${#fields.hasErrors('country')}"
                      th:errors="*{country}">country Error
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Submit</button>
    </form>


</body>
</html>